
<nav class="navbar">
    <ul class="navbar-nav justify-content-between sidebar-list">
        <li class="nav-item">
            <button type="button" class="btn btn-group-vertical btn btn-lg btn-outline-secondary btnGroup"
                routerLink="/group"><span style="color: antiquewhite;"> Add Group</span></button>
        </li>


        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnGrpList" routerLink="/grouplist"><span style="color: antiquewhite;"> List Of Groups</span></button>

        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserGroupList" routerLink="/usergroup"><span style="color: antiquewhite;">  Add User-Group</span></button>
        </li>

        <li class="nav-item">
                <button type="button" class="btn btn-lg btn-outline-secondary btnUserList" routerLink="/userlist"><span style="color: antiquewhite;"> List Of Users</span></button>
        </li>

    </ul>
</nav>
