
           <div >
           <p id="p1">education details</p>
           
               
           <br><br> <table class='table table-bordered ' id="p5" >
            <tr>
                <th id="p4">Standard</th>
                <th id="p4">Institute</th>
                <th id="p4">Board</th>
                <th id="p4">Year of Passing</th>	
                <th id="p4">Percentage</th>	
            </tr>
            <tr id="sd">
                <td>M.C.A</td>
                <td>SPPU</td>
                <td> pune university</td>
                <td> 2020 </td>
                <td> Appearing</td>	
            </tr>
            <tr id="sd">
                <td>B.C.S</td>
                <td>MSG,college ,malegaon camp</td>
                <td>pune university</td>
                <td>2016</td>
                <td>60.00</td>
            </tr>
            <tr id="sd">
                <td>H.S.C</td>
                <td>MSG College,Malegaon camp</td>
                <td>State Board</td>
                <td>2013</td>
                <td>68.16%</td>
            </tr>	
            <tr id="sd">
                <td>S.S.C</td>
                <td>Pandit Dharma vidhalaya,Lakhamapur</td>
                <td>State Board </td>
                <td>2011</td>
                <td>82.18%</td>
            </tr>			
            </table>
            <br>
    <br>